#########################
# Python related
#########################
__pycache__/

#########################
# Database
#########################
*.db

#########################
# Export data
#########################
*.json
*.csv
